:root {
    --Primario: #E3AFFF;
    --PrimarioLila: #DB74FF;
    --PrimarioRojo: #FF8A8A;
    --PrimarioOscuro: #B8A5BF;
    --PrimarioRojizo: #A54E4E;
    --PrimarioGrisaseo: #AFAFAF;
    --Secundario: #FFF331;
    --SecunadrioIntermedio: #F5FF26;
    --SecundarioOscuro: #D3C81E;
    --Blanco: #FFFF;
    --BlancoOscuro: #DBDBDB;
    --Negro: #000;
    --GrisOscuro: #716E6C;
    --ChocolateOscuro: #351F11;
    --OroOscuro: #D5B500;

    --FuentePrincipal: 'Staatliches', cursive;
    
}


/* Globales */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: var(--PrimarioLila);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Blanco);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.contenedor {
    max-width: 88%;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    font-family: var(--FuentePrincipal)
    color:var(--Secundario)
}

h1 {
    font-size: 4rem;
    font-family: var(--FuentePrincipal);
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

/* Navegación */
.navegacion {
background-color: var(--PrimarioOscuro);
padding: 1rem 0;
display: flex;
justify-content: center;
gap: 3.5rem;
}

.navegacion__enlace {
font-family: var(--FuentePrincipal);
color: var(--Blanco);
font-size: 3rem;
}


.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--SecunadrioIntermedio);
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
    grid-template-columns: repeat(3, 1fr);
    }
}

/* Productos */
.producto {
background-color: var(--PrimarioRojizo);
padding: 1rem;
}

.producto__imagen {
width: 100%;
}

.producto__nombre {
font-size: 2.5rem;
color: var(--ChocolateOscuro);
}

.producto__precio {
font-size: 2rem;
color: var(--OroOscuro);
}

.producto__nombre,
.producto__precio {
    font-family: var(--FuentePrincipal);
    margin: 0.9rem 0;
    text-align: center;
    line-height: 1.6rem;
}

/* Imagenes */
.imagen {
min-height: 30rem;
}

.imagen--remeras, .remeras {
grid-row: 2 / 3;
grid-column: 1 / 3;
object-fit: cover;
width: 100%;
height: 100%;
}

.imagen--node, .hombre--node {
object-fit: cover;
width: 100%;
height: 100%;
grid-column: 1 / 3;
grid-row: 8 / 9;
}

@media (min-width: 768px) {
    .imagen--node, 
    .hombre--node, 
    .remeras {
grid-row: 5 / 6;
grid-column: 2 / 4;
 }
}

/* Footer */
.footer {
background-color: var(--PrimarioOscuro);
font-family: var(--FuentePrincipal);
padding: 1rem 0;
margin-top: 2rem;
}

.footer__parrafo {
font-family: var(--FuentePrincipal);
text-align: center;
font-size: 2.2rem;
}

/* Nosotros */
@media (min-width: 768px) {
    .nosotros {
grid-template-columns: repeat(2, 1fr);
column-gap: 2rem;
}
}

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto)
}

@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
    }
}
.nosotros__imagen {
grid-row: 1 / 2;
width: 100%;
}